/*
  ---+ REVERSI PLUS PLUS +---
  this is horrendously messy i am so sorry
  if it looks like i know what i'm doing, rest assured: i do not

  ++ CREDITS & ACKNOWLEDGEMENTS ++
  - reversi base:	archiveofourown	(https://archiveofourown.org/skins/929)
  - tag scroll box:	archiveofourown	(https://archiveofourown.org/skins/3756)
  - tag bubbles:	@nyxmidnight	(https://github.com/nyxmidnight) (https://github.com/nyxmidnight/ao3tagsfonts)
  - typography:		mb		(https://practicaltypography.com/index.html)
  - fonts:
		*	charter		(https://fontesk.com/charter-typeface/)
		*	fira code	(https://fonts.google.com/specimen/Fira+Code)
		@ $	helvetica neue	(https://www.myfonts.com/collections/neue-helvetica-font-linotype)
		*	ibm plex sans	(https://fonts.google.com/specimen/IBM+Plex+Sans)
		*	ibm plex serif	(https://fonts.google.com/specimen/IBM+Plex+Serif)
		*	literata	(https://fonts.google.com/specimen/Literata)
		* @ 	menlo		(https://github.com/hbin/top-programming-fonts/blob/master/Menlo-Regular.ttf)
		*	noto sans	(https://fonts.google.com/specimen/Noto+Sans)
		@ $	palatino	(https://www.myfonts.com/collections/palatino-font-linotype)
		@ $	proxima nova	(https://fonts.adobe.com/fonts/proxima-nova)
		*	source code pro	(https://fonts.google.com/specimen/Source+Code+Pro)
		*	source sans 3	(https://fonts.google.com/specimen/Source+Sans+3)
		*	source serif 4	(https://fonts.google.com/specimen/Source+Serif+4)

		* web font (or free!)
		@ iOS system font
		$ paid (not free ... unless system font)

  ++ SECTIONS ++
  00. colour guide
  01. base
  02. body fonts
  03. buttons
  04. header
  05. footer  
  06. work reading adjustments (reading fonts here!)
  07. comments
  08. tags
  09. work blurb cleanup
  10. messages & tooltips
  11. dashboard
  12. stats page
  13. other pages
  14. sort & filter sidebar
  15. misc
  
*/




/* ---+ 00. COLOUR GUIDE +--- */

/* variables GO
   or not because ao3 doesn't allow them for some reason what the hell???
   whatever, using this as a colour guide anyway
*/
/*
:root {
	--ao3-accent-color: #5998d6;
	--ao3-accent-color-light: #9ecfff;
	--background-color: #1c1b22;
	--background-color-dark: #151319;
	--box-background-color: #16151b;
	--box-border-color: #78777d;
	--box-border-color-alt: #c2d2df;
	--box-border-color-subtle: #454547;
	--button-background-color: #2b2a33;
	--button-highlight-color: #4e4e5e;
	--tag-bubble-color-visited-hover: #5b5b66;
	--text-color: #eee;
	--text-link-color: #fff;
	--text-link-visited-color: #999;
	--textbox-background-color: #23222b;
}
*/




/* ---+ 01. BASE +--- */

/* banishes every box shadow, text shadow, and outline like the demons they are */
* {
	box-shadow: none !important;
	outline: none !important;
	text-shadow: none !important;
}

body {
	background: #1c1b22;
	border-color: #78777d;
	color: #eee;
}

a,
a:link {
	color: #fff;
	text-decoration: none;
}

/* lighter ao3 blue on link hover */
a:hover,
a:link:hover,
a:link:visited,
a:visited:hover,
div.preface .byline a:hover,
div.preface .byline a:visited:hover,
.blurb h4 a:hover,
.blurb h4 a:link:hover,
.blurb h4 a:visited:hover {
	color: #9ecfff;
}

/* darker grey for visited links */
a:visited,
div.preface .byline a:visited,
span.series .divider,
.actions a:visited,
.action a:link,
.action a:visited,
.blurb h4 a:visited,
.listbox .heading a:visited {
	color: #999;
}

/* (most) user icons are sharp no more */
a img {
	border: 0;
	border-radius: .25em;
}

/* makes lots of link things ao3 blue */
a.cloud7,
a.cloud8,
a.work,
.delete a,
.blurb h4 a:link,
.blurb h4 img,
.splash .browse li a:before {
	color: #5998d6;
}

/* give h3 its white space back */
h3 {
	line-height: inherit;
	}

/* makes HR dividers the same colour as text + extra margin space */
hr {
	color: #eee;
	margin: 1.5em auto;
}

/* what the hell was i doing here??? god i hate adhd
fieldset.listbox {
	
}*/

/* rounds and pretties text boxes */
input,
textarea {
	background: #23222b;
	border-color: #78777d;
	border-radius: .25em;
	color: #eee;
}

/* blue border now appears when you're focused a text box */
input:focus,
textarea:focus,
form blockquote.userstuff {
	background: #23222b;
	border-color: #6ab5ff;
}

/* white border on text box hover */
input:hover {
	background: #23222b;
	border-color: #fff;
}

th,
.secondary,
.thread .even,
.system .tweet_list li,
.ui-datepicker tr:hover {
	background: #23222b;
}

.heading,
.group .heading {
	background: none;
	color: #fff;
}

/* why was underline here, anyway? why are you applying double underlines?? */
.preface a:hover {
	text-decoration: none;
}

/* makes lots of things the ao3 blue accent */
span.claimed,
span.delete,
span.requested,
span.unread,
.draggable,
.droppable,
.replied,
.required,
.blurb h4 img,
.splash .module h3 {
	color: #5998d6;
}

/* some labels are misbehaving (namely edit skin: parent skins) so trying this */
#main .verbose legend {
	background: transparent;
}

/* sets base colours for oodles of elements */
.group,
.group .group,
.region,
fieldset,
fieldset fieldset ul,
form dl,
.verbose fieldset,
ul.notes,
table,
th,
td:hover,
tr:hover,
.symbol .question:hover,
.ui-sortable li,
.required .autocomplete,
.autocomplete .notice,
div.dynamic,
.dynamic form,
#ui-datepicker-div,
.ui-datepicker table {
	background: #1c1b22;
	border-color: #78777d;
	color: #eee;
}

.picture .header {
	border: 0;
}

.dropdown-toggle {
	border-radius: 0 !important;
}

.secondary {
	border: 0;
}

/* small blue pop for expandables — e.g., download on works */
ul.expandable.secondary {
	border: 0;
	background: #5998d6;
}

/* nix border on toggle forms like bookmarks */
.toggled form {
	background: #1c1b22;
	border: 0;
}




/* ---+ 02. BODY FONTS +--- */

/* less boring sans-serif fonts (that hopefully won't fuck up other shit)
   grab whichever strikes your fancy and slap it down after font-family!
   fonts:	"IBM Plex Sans", "Noto Sans", "Source Sans 3", "Proxima Nova", "Helvetica Neue",
   defaults:	"Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
*/

body {		/* font choices go here ↓ */
	font-family: "IBM Plex Sans", "Proxima Nova", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
}

input,
textarea,
blockquote,
blockquote.userstuff,
.blurb blockquote,
.dropdown,
.expander,
.toggled form {	/* font choices go here ↓ */
	font-family: "IBM Plex Sans", "Proxima Nova", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
}

/* small site-wide header change because georgia and "serif" are SO boring please have some taste
   fonts:	"Charter", "IBM Plex Serif", "Source Serif 4", "Palatino Linotype", "Palatino", "Literata",
   defaults:	"Georgia", serif;
*/
h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.bookmark .user .meta {	/* font choices go here ↓ */
	font-family: "Charter", "IBM Plex Serif", "Palatino", "Georgia", serif;
}

/* better mono/code fonts pls */
kbd,
tt,
code,
var,
pre,
samp {		/* font choices go here ↓ */
	font-family: "Fira Code", "Source Code Pro", "Menlo", "Monaco", "Consolas", Courier, monospace;
	font-size: .9em;
}




/* ---+ 03. BUTTONS +--- */

legend .action:link {
	margin: 0 .5em;
}

/* buttons please behave on hover */
legend .action:link:hover,
input:hover[type="submit"],
label.action:hover,
input.button:hover,
.actions a:focus,
.actions a:hover,
.actions a:link:hover,
.actions input:hover,
.actions input:focus,
.work.index.group .actions li a:hover,
.work.index.group .actions li a:visited:hover {
	background: #4e4e5e;
	border-color: transparent;
	color: #fff;
}

/* action buttons and some nav buttons */
button,
input[type="submit"],
.action,
.action:link,
.actions a,
.actions a:link,
.actions input,
.actions label,
.current {
	background: #2b2a33;
	border-color: transparent;	/* nix lines while keeping white space */
	color: #eee;
}

/* colors for active action buttons */
a.current,
.actions a:active,
.current,
.current a:visited {
	background: #555;
	border-color: #fff;
	color: #fff;
}

/* active button behaviours (mostly) */
#outer .current,
legend .action:link:active,
input:active[type="submit"],
a.current,
label.action:active,
span.unread,
span.claimed,
.actions a:active,
.current a:visited,
.replied,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover {
	background: #111;
	border-color: transparent;
	color: #fff;
}

dl.meta {
	border: 0;
}




/* ---+ 04. HEADER +--- */

/* gives user greeting some breathing room */
#greeting {
	padding: .5em 0;
}

/* dark header bg at the top */
#header {
	background: #151319 !important;
}

#header #greeting img,
#header fieldset,
#header form,
#header p,
#tos_prompt .heading {
	color: #5998d6;
}

/* searchbar colours behave now */
#header #search .text:active,
#header #search .text:focus,
#header #search .text:hover {
	background: #23222b;
}

#header #search input:focus {
	background: #111;
	border-color: transparent;
	color: #fff;
}

#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header .user a:focus,
#header .user .open a:focus,
.filters dt a:hover {
	color: #fff;
}

/* why are we still using weird noise jpgs as banners please stop */
#header ul.primary {
	background: #5998d6;
}

/* stay square, nav buttons */
#header ul.primary {
	border-radius: 0 !important;
}

/* header nav buttons as blue: fandoms/browse/search/about */
#header .actions a {
	background: #5998d6;
	border-color: #5998d6;
	color: #fff;
}

#header .actions a:focus,
#header .actions a:hover {
	background: #4e4e5e;
	color: #fff;
}

/* header dropdown menu bgs */
#header .dropdown:hover a {
	background: #4e4e5e;
	color: #fff;
}

/* dropdowns are hover colour */
#header .dropdown .menu a,
#greeting .dropdown .menu a {
	border-color: #4e4e5e;
	border-radius: .25em;
	color: #eee;
}

/* dropdown menu links with dark hover */
#header .dropdown .menu a:focus,
#header .dropdown .menu a:hover {
	background: #151319;
	color: #fff;
}

/* "archiveofourown beta" lighter text pop on active */
#header .heading a:active {
	color: #9ecfff;
}

/* "archiveofourown beta" text pop on hover */
#header .heading a:focus,
#header .heading a:hover {
	color: #5998d6;
}

/* header dropdowns have round */
#header .menu {
	background: #4e4e5e;
	border-radius: 0 0 .25em .25em;
	color: #fff;
}

/* nix lines in header nav */
#header .menu li {
	border-color: transparent;
}

#header .open a,
#small_login {
	background: #23222b;
}

/* user/post/login not blue */
#header .user a,
#header .user .open a {
	background: transparent;
	border: transparent;
}

/* user/post/login drowndown border rounding is consistent */
#header .user .dropdown-toggle {
	border-radius: .25em .25em 0 0 !important;
}

/* extra round edge for user dropdown menu */
#header .user .menu {
	border-radius: .25em 0 .25em .25em;
}

#inner .module .heading {
	border-color: #78777d;
}

#outer .group .heading,
fieldset.listbox .heading,
.userstuff .heading,
.userstuff h2 {
	background: none;
	color: #fff;
}




/* ---+ 05. FOOTER +--- */

/* no more noise.jpg */
#outer #footer {
	background: #5998d6;
}

#outer .region,
#footer .group {
	background: none;
}

/* nix the top border in the footer */
#footer {
	border: 0;
}

/* ao3 blue accent on hover */
#footer a:hover,
#footer a:focus {
	background: transparent;
	color: #5998d6;
}

/* give the footer nav text a readable pillow */
#footer ul.actions {
	background-color: #1c1b22;
}




/* ---+ 06. WORK READING ADJUSTMENTS +--- */

/* WARNING:
   select default values in this section are NOT kind to mobile or small screens!
   see values suggested in comments for <1000px res!
   note: this change likely can (and will) royally screw up writers' work skins until i figure out a better workaround
*/

/* give me serif NOW (but only when in an actual work) */
#chapters .userstuff a,
#chapters .userstuff p,
#chapters .userstuff ol,
#chapters .userstuff ul {	/* font choices go here ↓ */
	font-family: "Charter", "IBM Plex Serif", "Palatino Linotype", "Palatino", "Literata", "Georgia", serif;
	font-size: 1.25em;	/* mobile: 1.1em */
}

/* links don't be big stop it */
#chapters .userstuff a {
	font-size: revert;	
}

/* unfortunately blockquotes get weird with more white space so gotta fix that */
#chapters .userstuff blockquote {
	margin-left: 5em;	/* mobile: 2em */
	margin-right: 5em;	/* mobile: 2em */
}

/* wrangle p margins within blockquotes */
#chapters .userstuff blockquote p {
	margin-left: 1em;	/* mobile: .5em */
	margin-right: 1em;	/* mobile: .5em */
}

/* scrunches code in-work a little */
#chapters .userstuff code {
	font-size: .85em;
}

/* line height is not a bad thing give it back */
#chapters .userstuff ol {
	line-height: inherit;
}

/* embiggen fic margins! in this house we appreciate white space */
#chapters .userstuff p {
	margin-left: 2.5em;	/* mobile: 1.5em */
	margin-right: 2.5em;	/* mobile: 1.5em */
}

/* slightly bigger pre because otherwise it looks like it's for ants */
#chapters .userstuff pre {
	font-size: 1em;
}

/* author name being weird in-work, so slapping a link whether it likes it or not */
div.preface .byline a {
	border-bottom: 1px solid;
}

/* nix border at the top of work page */
.chapter .preface {
	border: 0;
}

/*
.preface h3 {
	i was going to do something here but i forgot what it was
}*/

/* double underline is fucking stupid */
.userstuff h3 {
	border-bottom: 1px solid #78777d;
}




/* ---+ 07. COMMENTS +--- */

/* nix border outside the add comment box */
#add_comnent,
#add_comment div.comment,
div.comment {
	border: 0;
}

#add_comment div.comment,
fieldset fieldset,
.comment fieldset,
.post fieldset fieldset {
	background: none;
}

/* pretties up comments */
li.comment {
	background: #151319 !important;
	border: transparent;
	border-radius: .25em;
	padding: 1em;
}

/* something was misbehaving so this had to happen now it's the next day and i don't remember what it actually does */
.actions li label {
	display: revert;
}

/* scoots comment user icon over + accommodates new comment padding */
.comment div.icon {
	margin: -1.5em .5em .5em 0;
	border: 0;
}

/* new comment padding FINALLY */
.comment .userstuff {
	margin: 1em 0;
	min-height: 3.3em;
}




/* ---+ 08. TAGS +--- */

/* tag-specific link attributes — makes tag bubbles! */
a.tag {
	background: #2b2a33;
	border: 1px solid transparent;
	border-radius: .25em;	/* round! :D */
	color: #eee;
	display: inline-block;
	font-size: .9em;
	margin: 1px 0;
	overflow: hidden;
	padding: .5px 6px;
	text-decoration: none;
	text-overflow: ellipsis;
}

/* tag bubble hover colours */
a.tag:hover {
	background: #eee;
	border-color: #eee;
	color: #2b2a33;
}

/* tag bubble visited colours */
a.tag:visited {
	background: #2b2a33;
	border-color: #2b2a33;
	color: #999;
}

/* tag bubble visited hover colours */
a.tag:visited:hover {
	background: #eee;
	border-color: #eee;
	color: #5b5b66;
}

/* characters tag colours */
dd.character a,
li.characters a {
	background: #337e00;
	border-color: #337e00;
	color: #eee;
}

/* characters tag hover colours */
dd.character a:hover,
li.characters a:hover {
	background: #eee;
	border-color: #eee;
	color: #337e00;
}

/* characters tag visited colours */
dd.character a:visited,
li.characters a:visited {
	background: #204d02;
	border-color: #204d02;
	color: #eee;
}

/* character tag visited hover colours */
dd.character a:visited:hover,
li.characters a:visited:hover {
	background: #eee;
	border-color: #eee;
	color: #204d02;
}

/* relationships tag colours */
dd.relationship a,
li.relationships a {
	background: #0e60b0;
	border-color: #0e60b0;
	color: #eee;
}

/* relationships tag hover colours */
dd.relationship a:hover,
li.relationships a:hover {
	background: #eee;
	border-color: #eee;
	color: #0e60b0;
}

/* relationships tag visited colours */
dd.relationship a:visited,
li.relationships a:visited {
	background: #124679;
	border-color: #124679;
	color: #eee;
}

/* relationship tag visited hover colours */
dd.relationship a:visited:hover,
li.relationships a:visited:hover {
	background: #eee;
	border-color: #eee;
	color: #124679;
}

/* warning tag colours */
dd.warning a,
li.warnings a {
	background: #8d0203;
	border-color: #8d0203;
	color: #eee;
}

/* warning tag hover colours */
dd.warning a:hover,
li.warnings a:hover {
	background: #eee;
	border-color: #eee;
	color: #8d0203;
}

/* warning tag visited colours */
dd.warning a:visited,
li.warnings a:visited {
	background: #5f0102;
	border-color: #5f0102;
	color: #eee;
}

/* warning tag visited hover colours */
dd.warning a:visited:hover,
li.warnings a:visited:hover {
	background: #eee;
	border-color: #eee;
	color: #5f0102;
}




/* ---+ 09. WORK BLURB CLEANUP +--- */

/* turn down the lights on work blurb bgs */
#main li.blurb {
	background: #151319;
	border-color: transparent;
	border-radius: .25em;
	padding: .5em 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* makes tag scroll box for those 10000+ tag fics so you don't have to scroll for like ten minutes */
li.blurb .tags {
	max-height: 8em;
	overflow-y: auto;
}

/* pretty sure these are the blurb key symbol blocks */
ul.required-tags,
.blurb .icon,
.bookmark .status span {
	border: 0;
	opacity: .9;
}

/* cushion work blurb stats */
.blurb dl.stats {
	margin-top: .65em;
	margin-bottom: .65em;
}

/* de-bubble fandom labels in work blurbs/work page */
dd.fandom a,
dd.rating a,
dd.category a,
.blurb .fandoms a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	padding: inherit;
}

/* de-bubble fandom labels in work blurbs/work page */
dd.fandom a:hover,
dd.fandom a:hover:visited,
dd.rating a:hover,
dd.rating a:hover:visited,
dd.category a:hover,
dd.category a:hover:visited,
.blurb .fandoms a:hover,
.blurb .fandoms a:hover:visited {
	border-bottom: 1px dotted #9ecfff !important;
	color: #9ecfff !important;
}

/* de-bubble fandom labels in work blurbs/work page */
dd.fandom a:visited,
dd.rating a:visited,
dd.category a:visited,
.blurb .fandoms a:visited {
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* gives work blurb some cushion between bottom buttons */
.blurb blockquote {
	margin: .5em auto 1em auto;
}

/* gets rid of commas after tags because bubbles */
.commas li::after {
	content: none;
}

/* trims padding off the last child (sorry kiddo) */
.commas li.last {
	padding: 0;
}

/*
padding problem between li classes i gotta fix
(ref: dl.meta dd ul li:first-child) 

li.warnings a:last-child,
li.relationships a:last-child,
li.characters a:last-child {
}

ul.commas

.commas.warnings li:last-child {
	padding-right: .5em;
	
}

ul.tags.commas li.characters:first-child {
	padding-left: .25em;
}
 
*/

/* knock tag bubbles on work page back into alignment */
.meta dd ul li {
	padding-right: .5em;
	padding-left: 0;
}

/* de-bubble bookmark tags */
.meta.tags.commas a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	overflow: revert;
	padding: inherit;
}

/* de-bubble bookmark hover tags */
.meta.tags.commas a:hover,
.meta.tags.commas a:visited:hover {
	border-bottom: 1px dotted #9ecfff !important;
	color: #9ecfff !important;
}

/* de-bubble bookmark visited tags */
.meta.tags.commas a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* stops blockquotes in work blurbs from inheriting margins */
.summary.userstuff blockquote {
	margin: 0 1.5em !important;
	padding: .25em .75em;
}

/* some white space between tag block and rest of the work blurb */
.tags.commas {
	margin: .5em 0;
}

/* cleans up user history work blurbs */
.user.module.group {
	background: transparent;
	margin-top: .75em;
}




/* ---+ 10. MESSAGES & TOOLTIPS +--- */

#modal {
	background: #1c1b22;
	border: 0;
	border-radius: .25em;
	color: #eee;
}

#modal .content {
	border: 0;
}

.error,
.comment_error,
.kudos_error,
.LV_invalid,
.LV_invalid_field
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.qtip-content,
.system .intro {
	background: #1c1b22;
	border-color: #5998d6;
	color: #fff;
}

.flash,
.notice {
	background: #1c1b22;
	border-color: #eee;
	color: #eee;
}

#outer,
.javascript,
#tos_prompt,
.announcement input[type="submit"] {
	background: #1c1b22;
}

form dd.required,
.event.announcement .userstuff a,
.filters .expander {
	color: #eee;
}

.announcement .userstuff a,
.announcement .userstuff a:link,
.announcement .userstuff a:visited:hover {
	color: #5998d6;
}

.announcement .userstuff a:visited {
	color: #999;
}

.announcement .userstuff a:hover,
.announcement .userstuff a:focus {
	color: #5897d4;
}

.bookmark .status span,
.splash .news li {
	border-color: #78777d;
}

/* nix white in tooltip dropdown bg */
.dropdown {
	background: none;
}

.mce-container input:focus {
	background: #F3EFEC;
}

/* help buttons get weird in the sidebar so this is a shrink ray */
.help.symbol.question.modal.modal-attached {
	font-size: .75em;
}

/* search tooltip adjustments */
.search [role="tooltip"] {
	background: #1c1b22;
	border: 1px solid #78777d;
	border-radius: .25em;
	color: #eee;
	margin: .643em auto;
	padding: .25em .375em;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
	background: #5998d6;
	color: #151319;
}

/* from reversi */
.splash .favorite li:nth-of-type(odd) a,
.ui-datepicker td:hover,
#tos_prompt .heading,
#tos_prompt [disabled] {
	background: #151319;
}

/* ao3 blue accent on help (?) hover */
.symbol .question,
.qtip-content {
	background: transparent;
	color: #5998d6;
}




/* ---+ 11. DASHBOARD +--- */

#dashboard,
#dashboard.own {
	border-color: #5998d6;
}

#dashboard a,
#dashboard span,
#dashboard .current {
	color: #fff;
}

#dashboard a:focus {
	/* need to put something here, don't forget */
}

#dashboard a:hover {
	background: #4e4e5e;
	color: #fff;
}

/* nix dash button lines */
#dashboard ul {
	border: 0;
	/* display: inline-block; */
	/* padding: 1.25em .5em; */	/* ao3 CSS restrictions are why we can't have nice things */
}

/* dark dashboard backdrop, smaller font size, more padding */
#dashboard.own {
	background: #151319;
	font-size: .9em;
	margin-top: 1.15em;
	padding: .5em;
}

#dashboard .current {
	background: #000;
	border-color: transparent;
	color: #fff;
}

/* investigate this, wasn't specific and messed with multiple works page */
/*#dashboard .secondary,
.dashboard fieldset fieldset.listbox .index {
	background: #23222b;
}*/




/* ---+ 12. STATS PAGE +--- */

/* smooth stats page borders, dark bg */
.fandom.listbox.group {
	background: transparent;
	border: #151319;
	border-radius: .25em;
	margin: 1em 0;
}

.fandom ul.index.group {
	background: #151319 !important;
	border-radius: inherit;
	padding: .15em .65em;
}

/* cushion for h5 on stats page */
.statistics .listbox h5.heading {
	font-size: 1.1em;
	margin: .75em 0 !important;
}

/* adjusts stats spacing */
.statistics .index dd {
	margin: 1em 0 .5em 0 !important;
}

/* adjusts stats spacing */
.statistics .index li {
	border-radius: inherit;
	margin: .5em 0;
	padding: .5em;
}

/* even entries get a cool different colour :D */
.statistics .index li:nth-of-type(even) {
	background: #2b2a33;
}




/* ---+ 13. OTHER PAGES +--- */

/* edit multiple works page: now all/none buttons should align with h5 */
#edit-multiple-works a.check_all,
#edit-multiple-works a.check_none {
	margin: -2px .15em 0 .15em;
}

/* edit multiple works page: nix borders and backgrounds */
#edit-multiple-works .fandom.listbox {
	border-color: transparent;
	border-radius: .25em;
	background: transparent;
}

/* edit multiple works page: tweak all/none button ul margins */
#edit-multiple-works .fandom.listbox ul.actions {
	margin: 0 0 .5em 0;
}

/* edit multiple works page: nix all/none button li margins */
#edit-multiple-works .fandom.listbox ul.actions li {
	margin: 0;
}

/* banish noisy lines and background for: user fandoms, works, series, bookmarks */
#user-fandoms,
#user-fandoms ol,
#user-works,
#user-works ul,
#user-series,
#user-series ol,
#user-bookmarks,
#user-bookmarks ol {
	background: transparent;
	border-color: transparent;
}

/* de-bubble search heading */
h2.heading a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	display: inline;
	font-size: revert;
	line-height: revert;
	padding: inherit;
}

/* de-bubble search heading hover */
h2.heading a:hover,
h2.heading a:visited:hover {
	border: 0 !important;
	border-bottom: 1px dotted #9ecfff !important;
	border-radius: 0 !important;
	color: #9ecfff !important;
}

/* de-bubble search heading visited */
h2.heading a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* banishes giant black bar on subs/related works pages */
dl.index dd,
dl.index dt {
	background: transparent;
	border: transparent;
}

/* wrangles buttons/details directly below titles on subs/related works pages */
dl.index dd {
	margin: .25em .25em 1.25em 0;
}

/* edit multiple works: kill background behind checkboxes */
.concise label.action {
	background: transparent;
}

/* edit multiple works: darker bg */
.listbox ul.index.concise {
	background: #151319;
	border-radius: inherit;
}

/* changed bookmark box colours; might tweak more */
.bookmark div.user,
.bookmark div.recent {
	background-color: #151319;
	border: 0;
}

/* additional tags category, cleans up tag category pages */
.bookmark.listbox.group,
.bookmark.listbox.group ul.index.group,
.parent.listbox.group,
.work.listbox.group,
.work.listbox.group ul.index.group {
	background: transparent;
	border: 0;
}

/* ao3 blue accent on hover */
.listbox .heading a.tag:visited:hover {
	background: transparent;
	color: #5998d6;
}

/* ALL the listbox bgs transparent?? i guess */
.listbox .index {
	background: transparent;
}

/* nix line on user dashboard/profile */
.home .header h2 {
	border: 0;
}

/* for mobile: now the nav buttons on user screen no longer clip into user icon ✨ */
.home .header ul.actions {
	max-width: 70%;
	text-align: right;
}

/* icon was misbehaving in header on dashboard/profile, now NO ONE floats */
.profile .primary,
.home .primary {
	float: none;
}

.tags.commas.index.group {
	background: transparent;
}




/* ---+ 14. SORT & FILTER SIDEBAR +--- */

/* S&F margin adjustment */
#bookmark-filters fieldset dl,
#work-filters fieldset dl {
	margin: .65em 0;
}

/* shortens S&F input boxes because otherwise the right end runs off the page */
#bookmark_search_excluded_bookmark_tag_names_autocomplete,
#bookmark_search_excluded_tag_names_autocomplete,
#bookmark_search_other_bookmark_tag_names_autocomplete,
#bookmark_search_other_tag_names_autocomplete,
#bookmark_search_bookmark_query,
#bookmark_search_bookmarkable_query,
#work_search_excluded_tag_names_autocomplete,
#work_search_other_tag_names_autocomplete,
#work_search_query,
#work_search_words_from,
#work_search_words_to,
#work_search_date_from,
#work_search_date_to {
	padding: 1px 0 1px 0;
	width: 99%;
}

/* slightly smaller text for collapsed filter criteria */
#include_rating_tags,
#exclude_rating_tags,
#include_archive_warning_tags,
#exclude_archive_warning_tags,
#include_category_tags,
#exclude_category_tags,
#include_fandom_tags,
#exclude_fandom_tags,
#include_character_tags,
#exclude_character_tags,
#include_relationship_tags,
#exclude_relationship_tags,
#include_freeform_tags,
#exclude_freeform_tags,
#include_tag_tags,
#exclude_tag_tags {
	font-size: .9em;
}

/* slight space between S&F labels and their input */
.filters .group dt.bookmarker,
.filters .group dt.language,
.filters .group dt.search,
.filters .group dt.options {
	margin: .2em 0 0 0;
	padding: .25em 0;
}

/* adjust margins on dds containing input */
.filters .group dd.language,
.filters .group dd.search,
.filters .group dd.options,
.filters .more dd.search,
dd.options ul li {
	margin: .2em 0;
}

/* slight space between S&F headings */
dt.include.heading,
dt.exclude.heading,
dt.more.heading {
	margin-bottom: .15em;
}

/* adjust S&F dl containers because the margins obscure input boxes */
dd.include.tags.group dl,
dd.exclude.tags.group dl,
dd.more.group dl,
dt.search dd {
	margin: 0;
}

/* ao3 blue accent on autocomplete hover */
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected {
	background: transparent;
	color: #5998d6;
}

/* this is the part where the sort and filter arrow .gifs are taken out */
.filters .expander,
.filters .expanded .expander {
	background: transparent;
}

/* and replaced! hi, meet right unicode arrow */
.filters .expander::before {
	content: "\23F5 ";
}

/* and left unicode arrow */
.filters .expanded .expander::before {
	content: " \23F7";
}

/* parent expander buttons are too far in, so they're scooching over a skosh */
.filters button.expander {
	padding: 0;
}

/* opposite with the kiddos */
#work_crossover li,
#work_complete li,
.filters .tags li {
	padding-left: .75em;
}

/* gets rid of extra lines in S&F sidebar */
form dl dt,
.filters dt {
	border-bottom: 0;
}

/* fix search bars in work search because they're. A Lot */
form.search input[type="text"] {
	border-color: #78777d;
	border-radius: .25em;
}

fieldset,
form.verbose legend,
.verbose form legend,
.filters .group dt.bookmarker {
	border: 0;
}

fieldset fieldset.listbox,
.group.listbox {
	background: transparent;
	border-color: transparent;
	border-radius: .25em;
}

/* trying to make some boxes behave */
.group.listbox .index {
	background: #151319;
}

form dl dt,
form.single fieldset {
	border-color: #78777d;
}


/* ---+ 15. MISC +--- */