/*	
  ---+ ReversiPlusPlus +---
  this is horrendously messy i am so sorry

  ++ CREDITS & ACKNOWLEDGEMENTS ++
  - reversi base:	archiveofourown	(https://archiveofourown.org/skins/929)
  - tag scroll box:	archiveofourown	(https://archiveofourown.org/skins/3756)
  - tag bubbles:	@nyxmidnight	(https://github.com/nyxmidnight) (https://github.com/nyxmidnight/ao3tagsfonts)
  - typography:		mb		(https://practicaltypography.com/index.html)	
  - fonts:
		*	charter		(https://fontesk.com/charter-typeface/)
		*	fira code	(https://fonts.google.com/specimen/Fira+Code)
		@ $	helvetica neue	(https://www.myfonts.com/collections/neue-helvetica-font-linotype)
		*	ibm plex sans	(https://fonts.google.com/specimen/IBM+Plex+Sans)
		*	ibm plex serif	(https://fonts.google.com/specimen/IBM+Plex+Serif)
		*	literata	(https://fonts.google.com/specimen/Literata)
		* @ 	menlo		(https://github.com/hbin/top-programming-fonts/blob/master/Menlo-Regular.ttf)
		*	noto sans	(https://fonts.google.com/specimen/Noto+Sans)
		@ $	palatino	(https://www.myfonts.com/collections/palatino-font-linotype)
		@ $	proxima nova	(https://fonts.adobe.com/fonts/proxima-nova)
		*	source code pro	(https://fonts.google.com/specimen/Source+Code+Pro)
		*	source sans 3	(https://fonts.google.com/specimen/Source+Sans+3)
		*	source serif 4	(https://fonts.google.com/specimen/Source+Serif+4)
		
		* web font (or free!)
		@ iOS system font
		$ paid (not free ... unless system font)

  ++ SECTIONS ++
  00. colour guide
  01. base
  02. fonts
  03. work reading adjustments
  04. comments
  05. tags
  06. work blurb cleanup
  07. messages & tooltips
  08. buttons
  09. dashboard
  10. stats page
  11. other pages
  12. header
  13. footer
  14. sort & filter sidebar
  15. misc
  
*/



/* ---+ 00. COLOUR GUIDE +--- */

/* variables GO
   or not because ao3 doesn't allow them for some reason what the hell???
   whatever, using this as a colour guide anyway
	
:root {
	--ao3-accent-color: #5998d6;
	--background-color: #1c1b22;
	--background-color-dark: #151319;
	--box-border-color: #78777d;
	--box-border-color-alt: #c2d2df;
	--container-color: #16151b;
	--light-grey-color: #5b5b66;
	--subtle-box-border-color: #454547;
	--text-color: #eee;
	--textbox-color: #23222b;
	--visited-color: #999;
}
*/



/* ---+ 01. BASE +--- */

/* banishes every box shadow, text shadow, and outline like the demons they are */
* {
	box-shadow: none !important;
	outline: none !important;
	text-shadow: none !important;
}

body {
	background: #1c1b22;
	border-color: #78777d;
	color: #eee;
}

a,
a:link {
	color: #fff;
	text-decoration: none;
}

/* lighter ao3 blue on link hover */
a:hover,
a:link:hover,
a:link:visited,
a:visited:hover,
div.preface .byline a:hover,
div.preface .byline a:visited:hover,
.blurb h4 a:hover,
.blurb h4 a:link:hover,
.blurb h4 a:visited:hover {
	color: #9ecfff;
}

/* darker grey for visited links */
a:visited,
div.preface .byline a:visited,
span.series .divider,
.actions a:visited,
.action a:link,
.action a:visited,
.listbox .heading a:visited,
.blurb h4 a:visited {
	color: #999;
}

/* (most) user icons are sharp no more */
a img {
	border: 0;
	border-radius: .25em;
}

/* makes lots of link things ao3 blue */
a.cloud7,
a.cloud8,
a.work,
.delete a,
.blurb h4 a:link,
.blurb h4 img,
.splash .browse li a:before {
	color: #5998d6;
}




/* ---+ 02. FONTS +--- */
/* less boring sans-serif fonts (that hopefully won't fuck up other shit)
   grab whichever strikes your fancy and slap it down after font-family!
   fonts:	"IBM Plex Sans", "Noto Sans", "Source Sans 3", "Proxima Nova", "Helvetica Neue",
   defaults:	"Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
*/
body,
input,
textarea,
blockquote,
blockquote.userstuff,
.blurb blockquote,
.dropdown,
.expander {
	font-family: "IBM Plex Sans", "Proxima Nova", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
}

/* small site-wide header change because georgia and "serif" are SO boring please have some taste
   fonts:	"Charter", "IBM Plex Serif", "Source Serif 4", "Palatino Linotype", "Palatino", "Literata",
   defaults:	"Georgia", serif;
*/
h1, h2, h3, h4, h5, h6,
.heading,
.bookmark .user .meta {
	font-family: "Charter", "IBM Plex Serif", "Palatino", "Georgia", serif;
}

/* better mono/code fonts pls */
kbd, tt, code, var, pre, samp {
	font-family: "Fira Code", "Source Code Pro", "Menlo", "Monaco", "Consolas", Courier, monospace;
	font-size: .9em;
}

/* give h3 its white space back */
h3 { line-height: inherit; }


/* makes HR dividers the same colour as text, extra margin space */
hr {
	color: #eee;
	margin: 1.5em auto;
}

/* rounds and pretties text boxes */
input,
textarea {
	background: #1c1b22;
	border-color: #78777d;
	border-radius: .25em;
	color: #eee; /* textarea didnt have this initially */
}

/* blue border now appears when you're focused a text box */
form blockquote.userstuff,
input:focus,
textarea:focus {
	background: #23222b;
	border-color: #6ab5ff;
}

/* white border on text box hover */
input:hover {
	background: #23222b;
	border-color: #fff;	
}

.heading,
.group .heading {
	color: #fff;
}

/* why was underline here, anyway? why are you applying double underlines?? */
.preface a:hover {
	text-decoration: none;
}

/* ao3 blue accent on help ? hover */
.symbol .question,
.qtip-content {
	background: transparent;
	color: #5998d6;
}

/* makes lots of things the ao3 blue accent */
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
.blurb h4 img,
.splash .module h3,
.required,
.error,
.comment_error,
.kudos_error {
	color: #5998d6;
}

/* sets base colours for oodles of elements */
.group,
.group .group,
.region,
.flash,
fieldset,
fieldset fieldset ul,
form dl,
#main .verbose legend,
.verbose fieldset,
.notice,
ul.notes,
table,
th,
td:hover,
tr:hover,
.symbol .question:hover,
#modal,
.ui-sortable li,
.required .autocomplete,
.autocomplete .notice,
.system .intro,
.comment_error,
.kudos_error,
div.dynamic,
.dynamic form,
#ui-datepicker-div,
.ui-datepicker table {
	background: #1c1b22;
	border-color: #78777d;
	color: #eee;
}

.picture .header {
	border: 0;
}

.dropdown-toggle {
	border-radius: 0 !important;
}





/* ---+ 03. WORK READING ADJUSTMENTS +--- */

/* WARNING:
   select default values in this section are NOT kind to mobile or small screens!
   see values suggested in comments for <1000px res!
   note: this change likely can (and will) royally screw up writers' work skins until i figure out a better workaround
*/

/* give me serif NOW (but only when in an actual work) */
#chapters .userstuff p,
#chapters .userstuff a,
#chapters .userstuff ol,
#chapters .userstuff ul {
	font-family: "Charter", "IBM Plex Serif", "Palatino Linotype", "Palatino", "Literata", "Georgia", serif;
	font-size: 1.25em;	/* mobile: 1.1em */
}

/* links don't be big stop it */
#chapters .userstuff a {
	font-size: revert;	
}

/* unfortunately blockquotes get weird with more white space so gotta fix that */
#chapters .userstuff blockquote {
	margin-left: 5em;	/* mobile: 2em */
	margin-right: 5em;	/* mobile: 2em */
}

/* wrangle p margins within blockquotes */
#chapters .userstuff blockquote p {
	margin-left: 1em;	/* mobile: .5em */
	margin-right: 1em;	/* mobile: .5em */
}

/* scrunches code in-work a little*/
#chapters .userstuff code {
	font-size: .85em;
}

/* line height is not a bad thing give it back */
#chapters .userstuff ol {
	line-height: inherit;
}

/* embiggen fic margins! in this house we appreciate white space */
#chapters .userstuff p {
	margin-left: 2.5em;	/* mobile: 1.5em */
	margin-right: 2.5em;	/* mobile: 1.5em */
}

/* slightly bigger pre because otherwise it looks like it's for ants */
#chapters .userstuff pre {
	font-size: 1em;
}

/* author name being weird in-work, so slapping a link whether it likes it or not */
div.preface .byline a {
	border-bottom: 1px solid;
}

/* nix border at the top of work page */
.chapter .preface {
	border: 0;
}

/*
.preface h3 {
	
}*/

/* double underline is fucking stupid */
.userstuff h3 {
	border-bottom: 1px solid #78777d;
}






/* ---+ 04. COMMENTS +--- */

/* nix border outside the add comment box */
#add_comnent,
#add_comment div.comment {
	border: 0;
}

#add_comment div.comment,
fieldset fieldset,
.comment fieldset,
.post fieldset fieldset {
	background: none;
}

/* pretties up comments */
li.comment {
	background: #151319 !important;
	border: transparent;
	border-radius: .25em;
	padding: 1em;
}
/* something was misbehaving so this had to happen now it's the next day and i don't remember what it actually does */
.actions li label {
	display: revert;
}

/* scoots comment user icon over */
.comment div.icon {
	margin: -1.5em 1em .5em 0;
	border: 0;
}






/* ---+ 05. TAGS +--- */

/* tag-specific link attributes — makes tag bubbles! */
a.tag {
	background: #2b2a33;
	border: 1px solid transparent;
	border-radius: .25em;	/* round! */
	color: #eee;
	display: inline-block;
	font-size: .9em;
	margin: 1px 0;
	overflow: hidden;
	padding: .5px 6px;
	text-decoration: none;
	text-overflow: ellipsis;
}

/* tag bubble hover colours */
a.tag:hover {
	color: #2b2a33;
	border-color: #eee;
	background: #eee;
}

/* tag bubble visited colours */
a.tag:visited {
	color: #999;
	border-color: #2b2a33;
	background: #2b2a33;
}

/* tag bubble visited hover colours */
a.tag:visited:hover {
	color: #5b5b66;
	border-color: #eee;
	background: #eee
}

/* characters tag colours */
dd.character a,
li.characters a {
	color: #eee;
	background: #337e00;
	border-color: #337e00;
}

/* characters tag hover colours */
dd.character a:hover,
li.characters a:hover {
	color: #337e00;
	background: #eee;
	border-color: #eee;
}

/* characters tag visited colours */
dd.character a:visited,
li.characters a:visited {
	color: #eee;
	background: #204d02;
	border-color: #204d02;
}

/* character tag visited hover colours */
dd.character a:visited:hover,
li.characters a:visited:hover {
	color: #204d02;
	background: #eee;
	border-color: #eee;
}

/* relationships tag colours */
dd.relationship a,
li.relationships a {
	color: #eee;
	background: #0e60b0;
	border-color: #0e60b0;
}

/* relationships tag hover colours */
dd.relationship a:hover,
li.relationships a:hover {
	color: #0e60b0;
	background: #eee;
	border-color: #eee;
}

/* relationships tag visited colours */
dd.relationship a:visited,
li.relationships a:visited {
	color: #eee;
	background: #124679;
	border-color: #124679;
}

/* relationship tag visited hover colours */
dd.relationship a:visited:hover,
li.relationships a:visited:hover {
	color: #124679;
	background: #eee;
	border-color: #eee;
}

/* warning tag colours */
dd.warning a,
li.warnings a {
	color: #eee;
	background: #8d0203;
	border-color: #8d0203;
}

/* warning tag hover colours */
dd.warning a:hover,
li.warnings a:hover {
	color: #8d0203;
	background: #eee;
	border-color: #eee;
}

/* warning tag visited colours */
dd.warning a:visited,
li.warnings a:visited {
	color: #eee;
	background: #5f0102;
	border-color: #5f0102;
}

/* warning tag visited hover colours */
dd.warning a:visited:hover,
li.warnings a:visited:hover {
	color: #5f0102;
	background: #eee;
	border-color: #eee;
}




/* ---+ 06. WORK BLURB CLEANUP +--- */

/* turn down the lights on work blurb bgs */
#main li.blurb {
	background: #151319;
	border-color: transparent;
	border-radius: .25em;
	padding: .5em 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* makes tag scroll box for those 10000+ tag fics so you don't have to scroll for like ten minutes */
li.blurb .tags {
	max-height: 8em;
	overflow-y: auto;
}

/* pretty sure these are the blurb image blocks */
ul.required-tags,
.blurb .icon,
.bookmark .status span {
	opacity: .9;
	border: 0;
}

/* forces work blurb buttons to not immediately enact camouflage upon approach */
.actions a:visited:hover 
.index .actions li a:hover {
	background: #111;
}

/* cushion work blurb stats */
.blurb dl.stats {
	margin-top: .65em;
	margin-bottom: .65em;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a,
dd.fandom a,
dd.rating a,
dd.category a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	padding: inherit;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a:hover,
.blurb .fandoms a:hover:visited,
dd.fandom a:hover,
dd.fandom a:hover:visited,
dd.rating a:hover,
dd.rating a:hover:visited,
dd.category a:hover,
dd.category a:hover:visited {
	color: #9ecfff !important;
	border-bottom: 1px dotted #9ecfff !important;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a:visited,
dd.fandom a:visited,
dd.rating a:visited,
dd.category a:visited {
	color: #999;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
}

/* gives work blurb some cushion between bottom buttons */
.blurb blockquote {
	margin: .5em auto 1em auto;
}

/* gets rid of commas after tags because bubbles */
.commas li::after {
	content: none;
}

/* trims padding off the last child (sorry kiddo) */
.commas li.last {
	padding: 0;
}

/*
li.warnings a:last-child,
li.relationships a:last-child,
li.characters a:last-child {
}

ul.commas

.commas.warnings li:last-child {
	padding-right: .5em;
	
}
 
*/

/* knock tag bubbles on work page back into alignment dl.meta dd ul li:first-child */
.meta dd ul li {
	padding-left: 0;
	padding-right: .5em;
}

/* de-bubble bookmark tags */
.meta.tags.commas a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	padding: inherit;
	overflow: revert;
}

/* de-bubble bookmark hover tags */
.meta.tags.commas a:hover,
.meta.tags.commas a:visited:hover {
	border-bottom: 1px dotted #9ecfff !important;
	color: #9ecfff !important;
}

/* de-bubble bookmark visited tags */
.meta.tags.commas a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* stops blockquotes in work blurbs from inheriting margins */
.summary.userstuff blockquote {
	margin: 0 1.5em !important;
	padding: .25em .75em;
}

/* some white space between tag block and rest of the work blurb */
.tags.commas {
	margin: .5em 0;
}

/* cleans up user history work blurbs */
.user.module.group {
	background: transparent;
	margin-top: .75em;
}




/* ---+ 07. MESSAGES & TOOLTIPS +--- */

#greeting .icon,
.error,
.comment_error,
.kudos_error,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.qtip-content {
	border-color: #5998d6;
}

#outer,
.javascript,
#tos_prompt,
.announcement input[type="submit"] {
	background: #1c1b22;
}

form dd.required {
	color: #eee;
}

.announcement .userstuff a,
.announcement .userstuff a:link,
.announcement .userstuff a:visited:hover {
	color: #5998d6;
}

.announcement .userstuff a:visited {
	color: #999;
}

.announcement .userstuff a:hover,
.announcement .userstuff a:focus {
	color: #5897d4;
}

/* nix white in tooltip dropdown bg */
.dropdown {
	background: none;
}

.event.announcement .userstuff a,
.filters .expander {
	color: #eee;
}

.mce-container input:focus {
	background: #F3EFEC;
}

.bookmark .status span,
.splash .news li {
	border-color: #78777d;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
	background: #5998d6;
	color: #151319;
}

/* from reversi */
.splash .favorite li:nth-of-type(odd) a,
.ui-datepicker td:hover,
#tos_prompt .heading,
#tos_prompt [disabled] {
	background: #151319;
}





/* ---+ 08. BUTTONS +--- */

/* buttons please behave on hover */
input:hover[type="submit"],
label.action:hover,
input.button:hover,
.actions a:focus,
.actions a:hover,
.actions input:hover,
.actions input:focus {
	color: #fff;
	background: #151319;
	border-color: transparent; 
}

/* action buttons and some nav buttons */
button,
input[type="submit"],
.action,
.action:link,
.actions a,
.actions a:link,
.actions input,
.actions label,
.current {
	background: #2b2a33;
	border-color: transparent;	/* nix lines while keeping white space */
	color: #eee;
}

/* colors for active action buttons */
a.current,
.actions a:active,
.current,
.current a:visited {
	color: #fff;
	background: #555;
	border-color: #fff;
}

/* active button behaviours (mostly) */
#outer .current,
input:active[type="submit"],
a.current,
label.action:active,
span.unread,
span.claimed,
.actions a:active,
.current a:visited,
.replied,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover {
	color: #fff;
	background: #000;
	border-color: transparent;
}

dl.meta {
	border: 0;
}





/* ---+ 09. DASHBOARD +--- */

#dashboard,
#dashboard.own {
	border-color: #5998d6;
}

#dashboard a,
#dashboard span,
#dashboard .current {
	color: #fff;
}

#dashboard a:focus {
	/* need to put something here, don't forget */
}

#dashboard a:hover {
	background: #2b2a33;
	color: #fff;
}

/* nix dash button lines */
#dashboard ul,
.filters .group dt.bookmarker {
	border: 0;
	/* display: inline-block; */
	/* padding: 1.25em .5em;	ao3 CSS restrictions are why we can't have nice things */
}

/* dark dashboard backdrop, smaller font size, more padding */
#dashboard.own {
	background: #151319;
	font-size: .9em;
	margin-top: 1.15em;
	padding: .5em;
}

#dashboard .current {
	color: #fff;
	background: #000;
	border-color: transparent;
}

#dashboard .secondary,
.dashboard fieldset fieldset.listbox .index {
	background: #23222b;
}




/* ---+ 10. STATS PAGE +--- */

/* smooth stats page borders, dark bg */
.fandom.listbox.group {
	background: transparent;
	border: #151319;
	border-radius: .25em;
	margin: 1em 0;
}

.fandom ul.index.group {
	background: #151319 !important;
	border-radius: inherit;
	padding: .15em .65em;
}

/* cushion for h5 on stats page*/
.statistics .listbox h5.heading {
	font-size: 1.1em;
	margin: .75em 0 !important;
}

/* adjusts stats spacing */
.statistics .index dd {
	margin: 1em 0 .5em 0 !important;
}

/* adjusts stats spacing */
.statistics .index li {
	border-radius: inherit;
	margin: .5em 0;
	padding: .65em;
}

/* even entries get a cool different colour :D */
.statistics .index li:nth-of-type(even) {
	background: #1c1b22;
}



/* ---+ 11. OTHER PAGES +--- */

/* banish noisy lines and background for: user fandoms, works, series, bookmarks */
#user-fandoms,
#user-fandoms ol,
#user-works,
#user-works ul,
#user-series,
#user-series ol,
#user-bookmarks,
#user-bookmarks ol {
	border-color: transparent;
	background: transparent;
}

/* changed bookmark box colours; might tweak more */
.bookmark div.user,
.bookmark div.recent {
	background-color: #151319;
	border: 0;
}

.bookmark.listbox.group,
.work.listbox.group {
	background: transparent;
	border: 0;
}

/* ao3 blue accent on hover */
.listbox .heading a.tag:visited:hover {
	background: transparent;
	color: #5998d6;
}

/* ALL the listbox bgs transparent?? i guess */
.listbox .index {
	background: transparent !important;
}

/* nix line on user dashboard/profile */
.home .header h2 {
	border: 0;
}

/* for mobile: now the nav buttons on user screen no longer clip into user icon ✨ */
.home .header ul.actions {
	max-width: 70%;
	text-align: right;
}

/* cleans up tag category pages */
.parent.listbox.group {
	border: 0;
	background: transparent;
}

/* icon was misbehaving in header on dashboard/profile, now NO ONE floats */
.profile .primary, .home .primary {
	float: none;
}

.tags.commas.index.group {
	background: transparent;
}

/* de-bubble search heading */
h2.heading a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	display: inline;
	font-size: revert;
	padding: inherit;
	line-height: revert;
}

/* de-bubble search heading hover */
h2.heading a:hover,
h2.heading a:visited:hover {
	border: 0 !important;
	border-bottom: 1px dotted #9ecfff !important;
	border-radius: 0 !important;
	color: #9ecfff !important;
}

/* de-bubble search heading visited */
h2.heading a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* banishes giant black bar on subs/related works pages */
dl.index dd,
dl.index dt {
	background: transparent;
	border: transparent;
}

/* wrangles buttons/details directly below titles on subs/related works pages */
dl.index dd {
	margin: .25em .25em 1.25em 0;
}





/* ---+ 12. HEADER +--- */

/* gives user greeting some breathing room */
#greeting {
	padding: .5em 0;
}

#header #greeting img,
#header fieldset,
#header form,
#header p,
#header .heading a,
#header .heading a:visited,
#tos_prompt .heading {
	color: #5998d6;
}

/* searchbar colours behave now */
#header #search .text:active,
#header #search .text:focus,
#header #search .text:hover {
	background: #23222b;
}

#header #search input:focus {
	color: #fff;
	background: #000;
	border-color: transparent;
}

#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header .user a:focus,
#header .user .open a:focus,
.filters dt a:hover {
	color: #fff;
}

#header .actions a {
	background: transparent;
	border-color: #2b2a33;
	color: #eee;
}

#header .actions a:hover {
	background: #23222b;
	color: #eee;
}

#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
th,
.secondary,
.thread .even,
.system .tweet_list li,
.ui-datepicker tr:hover {
	background: #23222b;
}

/* top nav with black bg */
#header .dropdown .menu a:focus,
#header .dropdown .menu a:hover {
	background: #151319;
}

/* nix lines in header nav */
#header .menu li {
	border: 0;
}

#inner .module .heading {
	border-color: #78777d;
}

#header .user a:hover {
	color: #fff;
	background: #151319;
	border-color: transparent; 
}

/* why are we still using weird noise jpgs as banners please stop */
#header ul.primary {
	background: #5998d6;
}

/* stay square, nav buttons */
#header ul.primary {
	border-radius: 0 !important;
}

#outer .group .heading,
fieldset.listbox .heading,
.userstuff .heading,
.heading,
.userstuff h2 {
	color: #fff;
	background: none;
}





/* ---+ 13. FOOTER +--- */

/* why are we still using weird noise jpgs as banners please stop */
#outer #footer {
	background: #5998d6;
}

#outer .region,
#footer .group {
	background: none;
}

/* nix the top border in the footer */
#footer {
	border: 0;
}

/* ao3 blue accent on hover */
#footer a:hover,
#footer a:focus {
	background: transparent;
	color: #5998d6;
}

/* give the footer nav text a readable pillow */
#footer ul.actions {
	background-color: #1c1b22;
}





/* ---+ 14. SORT & FILTER SIDEBAR +--- */

/* slightly broken; shortens Sort and Filter input boxes because otherwise they right end would run off the page */
.autocomplete ul, 
.filters .more dd.search {
	width: 97%;
}

/* ao3 blue accent on autocomplete hover */
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected {
	background: transparent;
	color: #5998d6;
}

/* this is the part where the sort and filter arrow .gifs are taken out */
.filters .expander,
.filters .expanded .expander {
	background: transparent;
}

/* and replaced! hi, meet right unicode arrow */
.filters .expander::before {
	content: "\23F5 ";
}

/* and left unicode arrow */
.filters .expanded .expander::before {
	content: " \23F7";
}

/* parent expander buttons are too far in, so they're scooching over a skosh */
.filters button.expander {
	padding: 0;
}

/* opposite with the kiddos */
.filters .tags li {
	padding-left: .75em;
}

/* help buttons get weird in the sidebar so this is a shrink ray */
.help.symbol.question.modal.modal-attached {
	font-size: .75em;
}

/* search tooltip adjustments */
.search [role="tooltip"] {
	background: #1c1b22;
	border: 1px solid #78777d;
	border-radius: .25em;
	color: #eee;
	padding: .25em .375em;
	margin: .643em auto;
}

/* why are we still using weird noise jpgs as banners please stop */
.toggled form {
	background: #5998d6;
}

/* gets rid of extra lines in Sort and Filter sidebar */
form dl dt, .filters dt {
	border-bottom: none;
}

/* fix search bars in work search because they're. A Lot */
form.search input[type="text"] {
	border-color: #78777d;
	border-radius: .25em;
}

fieldset,
form.verbose legend,
.verbose form legend {
	border: 0;
}

.group.listbox,
.group.listbox .index,
fieldset fieldset.listbox {
	background: #23222b;
}

.group.listbox,
fieldset fieldset.listbox,
.toggled form,
form dl dt,
form.single fieldset {
	border-color: #78777d;
}

/* shrinks search bar */
/*@media screen and (max-width: 415px) {
	li.search {
		max-width: 35%;
	}
	#site_search {
		width: 39%;
	}
}*/




/* ---+ 15. MISC +--- */
