/*	
  ---+ ReversiPlusPlus +---
  this is horrendously messy i am so sorry

  ++ CREDITS & ACKNOWLEDGEMENTS ++
  - reversi base:	archiveofourown	(https://archiveofourown.org/skins/929)
  - tag scroll box:	archiveofourown	(https://archiveofourown.org/skins/3756)
  - tag bubbles:	@nyxmidnight	(https://github.com/nyxmidnight) (https://github.com/nyxmidnight/ao3tagsfonts)
  - typography:		mb		(https://practicaltypography.com/index.html)	
  - fonts:
		*	charter		(https://fontesk.com/charter-typeface/)
		*	fira code	(https://fonts.google.com/specimen/Fira+Code)
		@ $	helvetica neue	(https://www.myfonts.com/collections/neue-helvetica-font-linotype)
		*	ibm plex sans	(https://fonts.google.com/specimen/IBM+Plex+Sans)
		*	ibm plex serif	(https://fonts.google.com/specimen/IBM+Plex+Serif)
		*	literata	(https://fonts.google.com/specimen/Literata)
		*	noto sans	(https://fonts.google.com/specimen/Noto+Sans)
		@ $	proxima nova	(https://fonts.adobe.com/fonts/proxima-nova)
		*	source code pro	(https://fonts.google.com/specimen/Source+Code+Pro)
		*	source sans 3	(https://fonts.google.com/specimen/Source+Sans+3)
		*	source serif 4	(https://fonts.google.com/specimen/Source+Serif+4)
		
		* web font (free!)
		@ iOS system font
		$ paid (not free ... unless system font)

  ++ SECTIONS ++
  00. colour guide
  01. base
  02. work reading enhancements
  03. tags, buttons, & (most) links
  04. header & navigation
  05. footer
  06. dashboard, sidebar, & search
  07. misc
*/



/* ---+ 00. COLOUR GUIDE +--- */

/* variables GO
   or not because ao3 doesn't allow them for some reason what the hell???
   whatever, using this as a colour guide anyway
	
:root {
	--ao3-accent-color: #5998d6;
	--background-color: #1c1b22;
	--background-color-dark: #151319;
	--box-border-color: #78777d;
	--container-color: #16151b;
	--light-grey-color: #5b5b66;
	--subtle-box-border-color: #454547;
	--text-color: #eee;
	--textbox-color: #23222b;
	--visited-color: #999;
}
*/



/* ---+ 01. BASE +--- */

/* banishes every box shadow, text shadow, and outline like the demons they are */
* {
	box-shadow: none !important;
	outline: none !important;
	text-shadow: none !important;
}

body,
.group,
.group .group,
.region,
.flash,
fieldset,
fieldset fieldset ul,
form dl,
textarea,
#main .verbose legend,
.verbose fieldset,
.notice,
ul.notes,
input,
textarea,
table,
th,
td:hover,
tr:hover,
.symbol .question:hover,
#modal,
.ui-sortable li,
.required .autocomplete,
.autocomplete .notice,
.system .intro,
.comment_error,
.kudos_error,
div.dynamic,
.dynamic form,
#ui-datepicker-div,
.ui-datepicker table {
	background: #1c1b22;
	color: #eee;
	border-color: #78777d;
	outline: none;
}

/* less boring sans-serif fonts (that hopefully won't fuck up other shit)
   grab whichever strikes your fancy and slap it down after font-family!
   fonts:	"IBM Plex Sans", "Noto Sans", "Source Sans 3", "Proxima Nova", "Helvetica Neue",
   defaults:	"Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
*/
body,
input,
textarea,
.dropdown,
.expander,
blockquote,
blockquote.userstuff,
.blurb blockquote {
	font-family: "IBM Plex Sans", "Proxima Nova", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
}

/* small site-wide header change because georgia and "serif" are SO boring please have some taste
   fonts:	"Charter", "IBM Plex Serif", "Source Serif 4", "Palatino Linotype", "Palatino", "Literata",
   defaults:	"Georgia", serif;
*/
h1, h2, h3, h4, h5, h6, .heading, .bookmark .user .meta {
	font-family: "Charter", "IBM Plex Serif", "Palatino", "Georgia", serif;
}

/* better mono/code fonts pls */
kbd, tt, code, var, pre, samp {
	font-family: "Fira Code", "Source Code Pro", "Menlo", "Monaco", "Consolas", Courier, monospace;
	font-size: .9em;
}

/* stops blockquotes in work blurbs from inheriting margins */
.summary.userstuff blockquote {
	margin: 0 1.5em !important;
	padding: .25em .75em;
}

/* rounds and pretties text boxes */
input,
textarea {
	background: #1c1b22;
	border-color: #78777d;
	border-radius: .25em;
}

/* a cute blue border now appears when you're in a text box */
form blockquote.userstuff,
input:focus,
textarea:focus {
	background: #23222b;
	border-color: #6ab5ff;
}

/* white border on text box hover */
input:hover {
	background: #23222b;
	border-color: #fff;	
}

/* ao3 blue accent on ? hover */
.symbol .question,
.qtip-content {
	background: transparent;
	color: #5998d6;
}

/* banish noisy lines and background for: user fandoms, works, series, bookmarks */
#user-fandoms,
#user-fandoms ol,
#user-works,
#user-works ul,
#user-series,
#user-series ol,
#user-bookmarks,
#user-bookmarks ol {
	border-color: transparent;
	background: transparent;
}

/* makes lots of things the ao3 blue accent */
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 img,
.splash .module h3,
.required,
.error,
.comment_error,
.kudos_error {
	color: #5998d6;
}

/* changed bookmark box colours; might tweak more */
.bookmark div.user,
.bookmark div.recent {
	background-color: #151319;
	border: 0;
}

/* cushion for h5 on stats page*/
.statistics .listbox h5.heading {
	font-size: 1.1em;
	margin: .75em 0 !important;
}

/* smooth stats page borders, dark bg */
.fandom.listbox.group {
	background: transparent;
	border: #151319;
	border-radius: .25em;
	margin: 1em 0;
}

.fandom ul.index.group {
	background: #151319 !important;
	border-radius: inherit;
	padding: .15em .65em;
}

/* adjusts stats spacing */
.statistics .index li {
	border-radius: inherit;
	margin: .5em 0;
	padding: .65em;
}

.statistics .index li:nth-of-type(even) {
	background: #1c1b22;
}

/* adjusts stats spacing */
.statistics .index dd {
	margin: 1em 0 .5em 0 !important;
}



/* ---+ 02. WORK READING ENHANCEMENTS +--- */

/* WARNING:
   select default values in this section are NOT kind to mobile or small screens!
   see values suggested in comments for <1000px res!
*/

/* give h3 its white space back */
h3 {
	line-height: inherit;
}

/* makes HR dividers the same colour as text, extra margin space */
hr {
	color: #eee;
	margin: 1.5em auto;
}

/* give me serif NOW (but only when in an actual work) 
   note: this change can (and will) royally screw up writers' work skins until i figure out a better workaround
*/
#chapters .userstuff p,
#chapters .userstuff a,
#chapters .userstuff ol,
#chapters .userstuff ul {
	font-family: "Charter", "IBM Plex Serif", "Palatino Linotype", "Palatino", "Literata", "Georgia", serif;
	font-size: 1.3em;		/* mobile: 1.1em */
}

#chapters .userstuff ol {
	line-height: inherit;
}

/* scrunches code in-work a little*/
#chapters .userstuff code {
	font-size: .8em;
}

/* embiggen fic margins! in this house we appreciate white space */
#chapters .userstuff p {
	margin-left: 2.5em;	/* mobile: 1.5em */
	margin-right: 2.5em;	/* mobile: 1.5em */
}

/* unfortunately blockquotes get weird with more white space so gotta fix that */
#chapters .userstuff blockquote {
	margin-left: 5em;	/* mobile: 2em */
	margin-right: 5em;	/* mobile: 2em */
}

/* wrangle p margins within blockquotes */
#chapters .userstuff blockquote p {
	margin-left: 1em;	/* mobile: .5em */
	margin-right: 1em;	/* mobile: .5em */
}

/* turn down the lights on work blurb bgs */
#main li.blurb {
	background: #151319;
	border-color: transparent;
	border-radius: .25em;
	padding: .5em 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* cushion work blurb stats */
.blurb dl.stats {
	margin-top: .65em;
	margin-bottom: .65em;
}

/* cleans up user history work blurbs */
.user.module.group {
	background: transparent;
	margin-top: .75em;
}

/* banishes giant black bar on subs/related works pages */
dl.index dd,
dl.index dt {
	background: transparent;
	border: transparent;
}

/* nix border outside the add comment box */
#add_comnent,
#add_comment div.comment {
	border: 0;
}

/* from reversi | ?? hm */
#add_comment div.comment,
.post fieldset fieldset,
fieldset fieldset,
.comment fieldset {
	background: none;
}

/* pretties up comments */
li.comment {
	background: #151319 !important;
	border: transparent;
	border-radius: .25em;
	padding: 1em;
}

/* scoots comment user icon over */
.comment div.icon {
	margin: -1.5em 1em .5em 0;
	border: 0;
}

/* something was misbehaving so this had to happen now it's the next day and i don't remember what it actually does */
.actions li label {
	display: revert;
}



/* ------ 03. TAGS, BUTTONS, & (MOST) LINKS ------ */

/* base links */
a, a:link {
	color: #fff;
	text-decoration:
	none;
}

/* makes lots of link things ao3 blue */
.blurb h4 a:link,
.delete a,
.blurb h4 img,
.splash .browse li a:before,
a.cloud7,
a.cloud8 {
	color: #5998d6;
}

/* lighter ao3 blue on link hover */
a:hover,
a:link:hover,
a:link:visited,
a:visited:hover,
.blurb h4 a:hover,
.blurb h4 a:link:hover,
.blurb h4 a:visited:hover {
	color: #9ecfff;
}

/* darker grey for visited links */
a:visited,
.actions a:visited,
.action a:link,
.action a:visited,
.listbox .heading a:visited,
.blurb h4 a:visited,
span.series .divider {
	color: #999;
}

/* (most) user icons are sharp no more */
a img {
	border: 0;
	border-radius: .25em;
}

/* makes tag scroll box for those 10000+ tag fics so you don't have to scroll for like ten minutes */
li.blurb .tags {
	max-height: 8em;
	overflow-y: auto;
}

/* tag-specific link attributes — makes tag bubbles! */
a.tag {
	background: #2b2a33;
	border: 1px solid transparent;
	border-radius: .25em;	/* round! */
	color: #eee;
	display: inline-block;
	font-size: .9em;
	margin: 1px 0;
	overflow: hidden;
	padding: .5px 6px;
	text-decoration: none;
	text-overflow: ellipsis;
}

/* tag bubble hover colours */
a.tag:hover {
	color: #2b2a33;
	border-color: #eee;
	background: #eee;
}

/* tag bubble visited colours */
a.tag:visited {
	color: #999;
	border-color: #2b2a33;
	background: #2b2a33;
}

/* tag bubble visited hover colours */
a.tag:visited:hover {
	color: #5b5b66;
	border-color: #eee;
	background: #eee
}

/* relationships tag colours */
li.relationships a,
dd.relationship a {
	color: #eee;
	background: #0e60b0;
	border-color: #0e60b0;
}

/* relationships tag hover colours */
li.relationships a:hover,
dd.relationship a:hover {
	color: #0e60b0;
	background: #eee;
	border-color: #eee;
}

/* relationships tag visited colours */
li.relationships a:visited,
dd.relationship a:visited {
	color: #eee;
	background: #124679;
	border-color: #124679;
}

/* relationship tag visited hover colours */
li.relationships a:visited:hover,
dd.relationship a:visited:hover {
	color: #124679;
	background: #eee;
	border-color: #eee;
}

/* characters tag colours */
li.characters a,
dd.character a {
	color: #eee;
	background: #337e00;
	border-color: #337e00;
}

/* characters tag hover colours */
li.characters a:hover,
dd.character a:hover {
	color: #337e00;
	background: #eee;
	border-color: #eee;
}

/* characters tag visited colours */
li.characters a:visited,
dd.character a:visited {
	color: #eee;
	background: #204d02;
	border-color: #204d02;
}

/* character tag visited hover colours */
li.characters a:visited:hover,
dd.character a:visited:hover {
	color: #204d02;
	background: #eee;
	border-color: #eee;
}

/* warning tag colours */
li.warnings a, dd.warning a {
	color: #eee;
	background: #8d0203;
	border-color: #8d0203;
}

/* warning tag hover colours */
li.warnings a:hover,
dd.warning a:hover {
	color: #8d0203;
	background: #eee;
	border-color: #eee;
}

/* warning tag visited colours */
li.warnings a:visited,
dd.warning a:visited {
	color: #eee;
	background: #5f0102;
	border-color: #5f0102;
}

/* warning tag visited hover colours */
li.warnings a:visited:hover,
dd.warning a:visited:hover {
	color: #5f0102;
	background: #eee;
	border-color: #eee;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a,
dd.fandom a,
dd.rating a,
dd.category a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	padding: inherit;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a:hover,
.blurb .fandoms a:hover:visited,
dd.fandom a:hover,
dd.fandom a:hover:visited,
dd.rating a:hover,
dd.rating a:hover:visited,
dd.category a:hover,
dd.category a:hover:visited {
	border-bottom: 1px dotted #9ecfff !important;
	color: #9ecfff !important;
}

/* de-bubble fandom labels in work blurbs/work page */
.blurb .fandoms a:visted,
dd.fandom a:visted,
dd.rating a:visited,
dd.warning a:visited,
dd.category a:visited {
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* knock tag bubbles on work page back into alignment */
.meta dd ul li {
	padding-left: 0;
	padding-right: .5em;
}

/* de-bubble bookmark tags */
.meta.tags.commas a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	font-size: revert;
	margin: revert;
	padding: inherit;
	overflow: revert;
}

/* de-bubble bookmark hover tags */
.meta.tags.commas a:hover,
.meta.tags.commas a:visited:hover {
	border-bottom: 1px dotted #9ecfff !important;
	color: #9ecfff !important;
}

/* de-bubble bookmark visited tags */
.meta.tags.commas a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* action buttons and some nav buttons */
.actions a,
.actions a:link,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label {
	background: #2b2a33;
	border-color: transparent; 	/* nix lines while keeping white space */
	color: #eee;
}

/* colors for active action buttons */
.actions a:active,
.current,
a.current,
.current a:visited {
	color: #fff;
	background: #555;
	border-color: #fff;
}

/* buttons please behave on hover */
label.action:hover,
.actions a:hover,
.actions input:hover,
input.button:hover,
#header .user a:hover,
.actions a:focus,
.actions input:focus,
input:hover[type="submit"] {
	color: #fff;
	background: #151319;
	border-color: transparent; 
}

/* active button behaviours (mostly) */
#dashboard .current,
.actions a:active,
label.action:active,
#outer .current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
input:active[type="submit"] {
	background: #000;
	border-color: transparent;
}

/* forces work blurb buttons to not immediately enact camouflage upon approach */
.index .actions li a:hover,
.actions a:visited:hover {
	background: #111;
}

/* why was underline here, anyway? why are you applying double underlines?? */
.preface a:hover {
	text-decoration: none;
}

/* some white space between tag block and rest of the work blurb */
.tags.commas {
	margin: .5em 0;
}

/* gets rid of commas after tags because bubbles */
.commas li::after {
	content: none;
}

/* gives work blurb some cushion between bottom buttons */
.blurb blockquote {
	margin: .5em auto 1em auto;
}

/* wrangles buttons/details directly below titles on subs/related works pages */
dl.index dd {
	margin: .25em .25em 1.25em 0;
}

/* from reversi */
.splash .favorite li:nth-of-type(odd) a,
.ui-datepicker td:hover,
#tos_prompt .heading,
#tos_prompt [disabled] {
	background: #151319;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
	background: #5998d6;
	color: #151319;
}

ul.required-tags,
.bookmark .status span,
.blurb .icon {
	opacity: .9;
	border: 0;
}

form dd.required {
	color: #eee;
}

dl.meta {
	border: 0;
}

form blockquote.userstuff,
.bookmark .status span,
.splash .news li {
	border-color: #78777d;
}

#greeting .icon,
#dashboard,
#dashboard.own,
.error,
.comment_error,
.kudos_error,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.qtip-content {
	border-color: #5998d6;
}



/* ------ 04. HEADER & NAVIGATION ------ */

/* de-bubble search heading */
h2.heading a {
	background: transparent !important;
	border: 0;
	border-bottom: 1px dotted #eee !important;
	border-radius: 0 !important;
	display: inline;
	font-size: revert;
	padding: inherit;
	line-height: revert;
}

/* de-bubble search heading hover */
h2.heading a:hover,
h2.heading a:visited:hover {
	border: 0 !important;
	border-bottom: 1px dotted #9ecfff !important;
	border-radius: 0 !important;
	color: #9ecfff !important;
}

/* de-bubble search heading visited */
h2.heading a:visited {
	border: 0 !important;
	border-bottom: 1px dotted #999 !important;
	border-radius: 0 !important;
	color: #999;
}

/* icon was misbehaving in header on dashboard/profile, now NO ONE floats */
.profile .primary, .home .primary {
	float: none;
}

/* nix line on user dashboard/profile */
.home .header h2 {
	border: 0;
}

/* ao3 blue accent on hover */
.listbox .heading a.tag:visited:hover {
	background: transparent;
	color: #5998d6;
}

/* for mobile: now the nav buttons on user screen no longer clip into user icon ✨ */
.home .header ul.actions {
	max-width: 70%;
	text-align: right;
}

/* stay square, nav buttons */
#header ul.primary,
.dropdown-toggle {
	border-radius: 0 !important;
}

#inner .module .heading {
	border-color: #78777d;
}

/* top nav with black bg */
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
	background: #151319;
}

/* nix lines in header nav */
#header .menu li {
	border: 0;
}

/* why are we still using weird noise jpgs as banners please stop */
#header ul.primary,
#outer #footer,
.toggled form {
	background: #5998d6;
}

#header #greeting img,
#header .heading a,
#header .heading a:visited,
#header fieldset,
#header form,
#header p,
#tos_prompt .heading {
	color: #5998d6;
}

#outer .group .heading,
fieldset.listbox .heading,
.userstuff .heading,
.heading,
.userstuff h2 {
	color: #fff;
	background: none;
}

#header .actions a {
	background: transparent;
	border-color: #2b2a33;
	color: #eee;
}

#header .actions a:hover {
	color: #eee;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
.dashboard fieldset fieldset.listbox .index,
th,
#dashboard .secondary,
.secondary,
.thread .even,
.system .tweet_list li,
.ui-datepicker tr:hover {
	background: #23222b;
}

#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header .user a:focus,
#header .user .open a:focus,
#header #search input:focus,
#header #search input:hover,
#dashboard a,
#dashboard span,
#dashboard .current,
.heading,
.group .heading,
.filters dt a:hover {
	color: #fff;
}



/* ---+ 05. FOOTER +--- */

/* nix the top border in the footer */
#footer {
	border: 0;
}

/* why are we still using weird noise jpgs as banners please stop */
#outer #footer,
.toggled form {
	background: #5998d6;
}

#outer .region,
#footer .group {
	background: none;
}

/* give the footer nav text a readable pillow */
#footer ul.actions {
	background-color: #1c1b22;
}

/* ao3 blue accent on hover */
#footer a:hover,
#footer a:focus {
	background: transparent;
	color: #5998d6;
}



/* ---+ 06. DASHBOARD, SIDEBAR, & SEARCH +--- */

/* dark dashboard backdrop, smaller font size, more padding */
#dashboard.own {
	background: #151319;
	font-size: .9em;
	margin-top: 1.15em;
	padding: .5em;
}

#dashboard a:hover {
	background: #2b2a33;
	color: #fff;
}

#dashboard a:focus {
	/* need to put something here, don't forget */
}

/* nix dash button lines */
#dashboard ul {
	border: 0;
	/* display: inline-block; */
	/*padding: 1.25em .5em;	ao3 CSS restrictions are why we can't have nice things*/
}

/* nix white in tooltip dropdown bg */
.dropdown {
	background: none;
}

/* gets rid of extra lines in Sort and Filter sidebar */
form dl dt, .filters dt {
	border-bottom: none;
}

/* slightly broken; shortens Sort and Filter input boxes because otherwise they right end would run off the page */
.autocomplete ul, 
.filters .more dd.search {
	width: 97%;
}

/* ao3 blue accent on autocomplete hover */
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected {
	background: transparent;
	color: #5998d6;
}

fieldset,
form.verbose legend,
.verbose form legend {
	border: 0;
}

.group.listbox,
.group.listbox .index,
fieldset fieldset.listbox {
	background: #23222b;
}

.group.listbox,
fieldset fieldset.listbox,
.toggled form,
form dl dt,
form.single fieldset,
.filters .group dt.bookmarker {
	border-color: #78777d;
}

/* shrinks search bar */
/*@media screen and (max-width: 415px) {
	li.search {
		max-width: 35%;
	}
	#site_search {
		width: 39%;
	}
}*/



/* ---+ 07. MISC +--- */

.mce-container input:focus {
	background: #F3EFEC;
}

.announcement .userstuff a,
.announcement .userstuff a:link,
.announcement .userstuff a:visited:hover {
	color: #5998d6;
}

.announcement .userstuff a:visited {
	color: #999;
}

.announcement .userstuff a:hover,
.announcement .userstuff a:focus {
	color: #5897d4;
}

.event.announcement .userstuff a,
.filters .expander {
	color: #eee;
}

#outer,
.javascript,
#tos_prompt,
.announcement input[type="submit"] {
	background: #1c1b22;
}
